################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SqrtTaker/.vs/SqrtTaker/v14/.suo
/SqrtTaker/bin/Debug/SqrtTaker.vshost.exe.manifest
/SqrtTaker/bin/Debug/SqrtTaker.vshost.exe.config
/SqrtTaker/bin/Debug/SqrtTaker.vshost.exe
/SqrtTaker/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SqrtTaker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SqrtTaker/packages/MathNet.Symbolics.0.18.1/lib/net40/MathNet.Symbolics.dll
/SqrtTaker/.vs/SqrtTaker/v14/.suo
/SqrtTaker/bin/Debug/SqrtTaker.vshost.exe.manifest
/SqrtTaker/bin/Debug/SqrtTaker.vshost.exe
/SqrtTaker/packages/MathNet.Symbolics.0.18.1/lib/net40/MathNet.Symbolics.dll
*.cache
*.ide
*.suo
*.ide-shm
*.ide-wal
/SqrtTaker/bin/Debug/SqrtTaker.exe
/SqrtTaker/obj/Debug/SqrtTaker.exe
/SqrtTaker/obj/Debug/SqrtTaker.pdb
*.Cache
*.pdb
*.cache
/SqrtTaker/bin/Debug/SqrtTaker.exe
/SqrtTaker/obj/Debug/SqrtTaker.exe
/SqrtTaker/obj/Debug/SqrtTaker.pdb
/SqrtTaker/bin/Debug/ru/FSharp.Core.resources.dll
/SqrtTaker/bin/Debug/FSharp.Core.xml
